.form{
    background: lightslategrey;
    padding: 1em;
    padding-top: .5em;
    padding-bottom: .75em;
    max-width: 39em;
    margin: auto;
    margin-top: 1em;
    border-radius: 10%;
}
input{
  background: indigo;
  border-radius: 20%;
  border: .2em solid #e8e8e8;
  width: 95%;
  height: 3em;
  margin-top: .5em;
  padding-left: 1em;
  padding-right: 1em;
  box-sizing: border-box;
  color: snow;
}
button{
    background-color: green;
    border-radius: 2ex;
    font-size: 17pt;
    padding: .5em;
    margin: .7em;
}
.error{
    background: lightcoral;
    border: .2em dashed darkred;

}
li{
    direction: none;
    display: inline-block;
}
