.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 60px;
}
@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.App-header {
  background-color: black;
  height: 50px;
  padding: 20px;
  color: white;
}
.trigger a{
  text-decoration: none;
  
}

.App-body {
  font-size: large;
  position: absolute;
  min-height: 100%;
  margin-bottom: 50px
}
.App-footer {
  background: #222; 
  height: 50px;
  color: #f9f9f9; 
  padding: 0 2em; 
}

@media screen and (min-width: 450px) { 
  .App {
    text-align: left;
  }
  .App-header .nav-toggle { 
    display: block; 
    position: inherit; 
    background: none; 
  } 
  .App-header .nav-toggle .trigger { 
    display: none; 
  } 
  .App-header ul { 
    display: block; 
    position: inherit; 
    background: none; 
    z-index: 0; 
    right: auto; 
    min-width: none; 
  } 
  .App-header ul li { 
    display: inline-block; 
    color: #000; 
  } 
}

@media screen and (min-width: 550px) { 
  .App-body .img-focas { 
    width: 100%; 
    margin: 0; 
  } 
}

@media screen and (min-width: 800px) { 
  .App-body .img-focas { 
    width: 33%; 
    float: left; 
    margin: 0 2em 1em 0; 
  } 
} 
