.App {
  text-align: center;
  height: 100vh;
  background-image: url('./wooden-frame.jpg');
  background-size: cover;
}
.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 60px;
}
@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.App-header {
  background-color: #333;
  border-radius: -20%;
}

nav { 
  position: absolute;
  top: 1.3em;
  right: 0em;
  text-align: right;
  z-index: 20;
} 
nav .trigger{
  margin: 1em;
}
nav a{
  display: block;
  color: lawngreen;
}
nav li a{
  padding-left: 1em;
  padding-right: 1em;
}
nav li:hover{
  border: solid 3px #333;
  background: #999;
  transition: background 300ms;
}
nav li{
  border: solid 3px #333;
  background: #777;
  transition: background 300ms;
}
nav ul{
  display: none;
  text-align: center;
  padding: 0px;
  border: solid 3px #333;
}
nav:hover ul{
  display: block;
}
.App-footer {
  background-color: black;
  color: ghostwhite;
  width: 100vw;
  position: absolute;
  bottom: 0px;
  min-width: 300px;
}

@media screen and (min-width: 450px) { 
  .App {
    text-align: left;
  }
  nav { 
    position: absolute;
    right: 0;
    top: -1em;
    text-align: right;
    z-index: 20;
  }
  nav .trigger{
    display: none;
  }
  nav ul{
    display: block;
    text-align: center;
    padding: 0px;
    border: solid 3px #333;
  }
  nav a{
    display: initial;
    color: lawngreen;
    padding-right: 1em;
    padding-left: 1em;
  }
  nav li{
    display: inline-block;
  }
  
  
}



