.App {
  text-align: center;
  height: 100vh;
  background-image: url('./wooden-frame.jpg');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 60px;
}
@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.App-header {
  background-color: #333;
  border-radius: -20%;
}

nav { 
  position: absolute;
  right: 0;
  top: 1.3em;
  text-align: right;
  z-index: 20;
} 
nav .trigger{
  margin: 1em;
}
nav a{
  color: lawngreen;
  width: 100%; 
  height: 100%;
}
nav li:hover{
  border: solid 3px #333;
  background: #999;
  padding: 0.3em;
  padding-left: 2em;
  padding-right: 2em;
  transition: background 300ms;
}
nav li{
  display: block;
  border: solid 3px #333;
  background: #777;
  padding: 0.3em;
  padding-left: 2em;
  padding-right: 2em;
  transition: background 300ms;
}
nav ul{
  display: none;
  text-align: center;
  padding: 0px;
  border: solid 3px #333;
}
nav:hover ul{
  display: block;
}
.App-footer {
  background-color: black;
  color: ghostwhite;
  width: 100vw;
  position: absolute;
  bottom: 0px;
  min-width: 300px;
}

@media screen and (min-width: 450px) { 
  .App {
    text-align: left;
  }
  nav { 
    position: absolute;
    right: 0;
    top: 0.3em;
    text-align: right;
    z-index: 20;
  }
  nav .trigger{
    display: none;
    margin: 1em;
  }
  nav ul{
    display: block;
    background: #777;
    text-align: center;
    padding: 0px;
    border: solid 3px #333;
  }
  nav li{
    display: inline;
    border: solid 3px #333;
    padding: 0.3em;
    padding-left: 2em;
    padding-right: 2em;
  }
  
}

/*@media screen and (min-width: 550px) { 
  .App-body .img-focas { 
    width: 100%; 
    margin: 0; 
  } 
}*/

/*@media screen and (min-width: 800px) { 
  .App-body .img-focas { 
    width: 33%; 
    float: left; 
    margin: 0 2em 1em 0; 
  } 
} */
